<script>
var button = document.getElementById("home");
button.className += "current";
</script>

<div class='center hero-unit'>
  currently co-founder and CTO for Mash, a music mobile application that provides artists with a platform to browse cutting-edge samples and sounds and get inspired by the work of other users. <%= link_to "check us out here", "http://www.mashwith.me/", target: "_blank" %>, or <%= link_to "download the app.", "https://appsto.re/us/Fiyu8.i", target: "_blank" %>

</br></br></br>

  <ul style='list-style-type: none;'>
    <li>check out my <%= link_to "GitHub", "https://github.com/dannyighsu", target: "_blank" %></li>
    <li>listen to my <%= link_to "SoundCloud", "https://soundcloud.com/18rhythms/tracks", target: "_blank" %></li>
    <li>connect with me on <%= link_to "LinkedIn", "https://www.linkedin.com/profile/view?id=AAMAAA36yFEBEPR57MKWUISeTXCyRSh0CKj-IE0&trk=hp-identity-name", target: "_blank" %></li>
  </ul>
</div>
