<div>
  <div id="header-image">
    <%= image_tag 'profile.jpg', :id => 'profile', :size => "300" %>
  </div>
</br>
  <div id="title">
    <h2>entrepreneur, programmer, tech enthusiast, musician</h2>
  </div>
</div>

<nav class="nav" id="navbar">
  <ul id="nav-items">
    <li id='home'><%= link_to "home", root_path %></li>
    <li id='projects'><%= link_to "projects", projects_path %></li>
    <li id='music'><%= link_to "music", music_path %></li>
    <li id='writing'><%= link_to "writing", writing_path %></li>
  </ul>
</nav>
